<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.mindiii.gold</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Gold</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1439569283117438</string>
				<string>com.googleusercontent.apps.735004018581-5i08b0bc8eu0u4mrig4chaokce7p39c8</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.735004018581-4lfovl7p3nscrnaba1ks7qq0s2bskoki</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.mindiii.gold</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.mindiii.gold.payments</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>1439569283117438</string>
	<key>FacebookClientToken</key>
	<string>e223c03291f577e80c5d86d482f48b0b</string>
	<key>FacebookDisplayName</key>
	<string>Gold</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Gold would like to access your camera for upload your photos to profile pictures. Your photos won't be shared without your permission.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Need microphone access for uploading audio</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Gold would like to access your photo library for upload your photos to profile pictures. Your photos won't be shared without your permission.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Asap-Black.ttf</string>
		<string>Asap-BlackItalic.ttf</string>
		<string>Asap-Bold.ttf</string>
		<string>Asap-BoldItalic.ttf</string>
		<string>Asap-ExtraBold.ttf</string>
		<string>Asap-ExtraBoldItalic.ttf</string>
		<string>Asap-ExtraLight.ttf</string>
		<string>Asap-ExtraLightItalic.ttf</string>
		<string>Asap-Italic.ttf</string>
		<string>Asap-Light.ttf</string>
		<string>Asap-LightItalic.ttf</string>
		<string>Asap-Medium.ttf</string>
		<string>Asap-MediumItalic.ttf</string>
		<string>Asap-Regular.ttf</string>
		<string>Asap-SemiBold.ttf</string>
		<string>Asap-SemiBoldItalic.ttf</string>
		<string>Asap-Thin.ttf</string>
		<string>Asap-ThinItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
